body {
	background: #fbf9f1;
	color: #171717;
	font-size: 18px;
}

.note {
	position: relative;
	background: #c5df94;
	padding: 20px;
	overflow: hidden;
}

.note::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 0 20px;
	border-color: #fbf9f1 transparent transparent #e2edc1;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
}