body {
	background: #fbf9f1;
	color: #171717;
	font-size: 18px;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?52940142');
  src: url('../font/fontello.eot?52940142#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?52940142') format('woff2'),
       url('../font/fontello.woff?52940142') format('woff'),
       url('../font/fontello.ttf?52940142') format('truetype'),
       url('../font/fontello.svg?52940142#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tag {
	display: inline-block;
	background: #e6571f;
	color: #fff;
	padding: 3px 7px;
	border-radius: 3px;
}

.tag::before {
	font-family: fontello;
	content: '\e800';
	padding-right: 10px;
}