body {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
::-moz-selection {
  background: #ff7b29;
}
::selection {
  background: #ff7b29;
  color: #fff;
}